body{
    margin: 10px;
    padding: 10px;
}
body.bodyy{font-size: 25px;}
input{width:15%; height: 2rem;}
.error{color: rgb(213, 21, 21); font-style: italic;}
.error-not{color: rgb(213, 21, 21); font-size: 18px;}
.errorHead{color: rgb(213, 21, 21); font-weight: bold; margin-bottom: 5px;}
div{margin: 10px;}
.header{position: absolute; top: 0; right: 0;display: none;}
footer, .header{margin: 10px 0 10px 0;}
footer{position: absolute; bottom:0; }